/* *{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #121212;
}  */
/* .crypto-table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 100vw;   
}

.crypto-table {
    width: 90vw; 
    height: 80vh;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.2);
    overflow: auto; 
}

.crypto-table table {
    width: 100%;
    border-collapse: collapse;
}

.crypto-table th, .crypto-table td {
    padding: 15px;
    text-align: left;
}

.crypto-table th {
    background-color: #1e1e1e;
    color: #ffffff;
    font-size: 1.2rem;
}

.crypto-table tr:nth-child(even) {
    background-color: #222;
}

.crypto-table tr:hover {
    background-color: #333;
}   */


.crypto-table-container {
    width: 100%;
    overflow-x: auto; 
    display: flex;
    justify-content: center;
  } 

.crypto-table {
    width: 100%;  
    background-color: darkgrey;
    color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 50px 10px 10px rgba(28, 147, 103, 0.1);
    display: flex;
    margin: left;
    overflow-x: auto; 
    justify-content: left;
} 

table {
    width: 100%;
    border-collapse:collapse; 
} 

th, td {
    padding: 20px;
    text-align: center;
    white-space: wrap;  
    width: auto;
}  

th {
    font-size: 14px;
    text-transform: uppercase;
}
tr {
    display: table-row;
    width: 100%;
}

td {
    font-size: 16px;
}

.coin-logo {
    width: 30px;
    height: 30px;
    margin-right: 8px;
}

.coin-name {
    display: flex;
    align-items: center;
}

.symbol {
    color: darkorange;
    font-size: 12px;
}

.green {
    color:green;
}

.red {
    color:red;
}

.star-icon {
    color: blue;
    cursor: pointer;
}

.star-icon:hover {
    color: gold;
}

.crypto-table th, .crypto-table td {
    text-align: left;
    padding: 20px;
    white-space: wrap; 
  }
  
  .crypto-table th {
    background-color:black;
    color: white;
  }
  
  .crypto-table tr:nth-child(even) {
    background-color: gray;
  }
  
  .crypto-table tr:hover {
    background-color:black;
  }

  .table-wrapper {
    display: flex;
    flex-grow: 1;
    width: 100%;
}